<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Uploading</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<h1>Uploading image</h1>
	
	<form action="" method="POST" enctype="multipart/form-data">
		<label for="file">Select image</label>
		<div>
			<input type="file" name="file" id="image">
		</div>
		<button type="submit">Upload</button>

	</form>
	
</body>
</html>